In [1]:
import pandas as pd
import random
from sklearn.model_selection import train_test_split

In [2]:
"""The dataset of the sequence the cards (cs) were played follows"""
skat_dt_cs_data_path = "C:/Users/sasch/Desktop/Uni/Bachelorarbeit/SaschaBenz/data/dl/dt_skattisch_kf.CSV"

skat_dt_cs_data_frame = pd.read_csv(skat_dt_cs_data_path, header=None)

# TODO: convert data to following encoding:
# ♦, ♥, ♠, ♣, {7, 8, 9, Q, K, 10, A}, J/T
skat_dt_cs_data = skat_dt_cs_data_frame

skat_dt_cs_data.columns = ["GameID", "Sd1", "Sd2", "KNr0", "KNr1", "KNr2", "KNr3", "KNr4", "KNr5", "KNr6", "KNr7",
                           "KNr8", "KNr9", "KNr10", "KNr11", "KNr12", "KNr13", "KNr14", "KNr15", "KNr16", "KNr17",
                           "KNr18", "KNr19", "KNr20", "KNr21", "KNr22", "KNr23", "KNr24", "KNr25", "KNr26", "KNr27",
                           "KNr28", "KNr29", "KNr30", "KNr31", "SurrenderedAt"]

In [3]:
# Sanity Checks

print(skat_dt_cs_data_frame.isna().sum().sum())

0

In [4]:
print(skat_dt_cs_data_frame["GameID"].size)

342755

In [5]:
print(skat_dt_cs_data_frame["GameID"].duplicated().any())

False

In [6]:
skat_dt_table_data = skat_dt_cs_data_frame

head = skat_dt_cs_data.head(n=10)
print(head)

   GameID  Sd1  Sd2  KNr0  KNr1  KNr2  KNr3  KNr4  KNr5  KNr6  ...  KNr23  \
0       3   20   22     4     5     6     3     7     8     9  ...     23
1       5   28   14     6     7     8     3     9    10    11  ...     23
2       6   20   28    12    21    22    23    16    13    15  ...      3
3       7    9   13     9    18    24    14    11    28    19  ...      5
4       8   25   17     0     2    15     1     6    16    17  ...     23
5       9   28   30     1     2     3     4     5     0     6  ...     23
6      10   29   31     8     7    20    19    18    21     6  ...     28
7      11   14    9    24    28    25     3    29    27    26  ...      6
8      12   17   25     0     2     4    12     3     1     6  ...     26
9      13    6   20    16    17    18    15    19    20    30  ...      4

   KNr24  KNr25  KNr26  KNr27  KNr28  KNr29  KNr30  KNr31  SurrenderedAt
0      0     24     25     26     27     28      1     29              0
1     24     25     26      4     30     27     28     29              0
2      7     27      9      1     31     28     11     29              1
3      6     29      7     12     13     21     23     27             -1
4     24     30     25      5     26     27     28     29              5
5     24     25     26     27     30     28     31     29              0
6      0      9      1      2     11     30     29     31              2
7      9     11     17      1     12     10     14     19             -1
8     11     31     10     27     16     28     29      9              9
9     14      5     27      8     28     13     29     12              0

[10 rows x 36 columns]

In [7]:
"""The table dataset follows"""
skat_dt_table_data_path = "C:/Users/sasch/Desktop/Uni/Bachelorarbeit/SaschaBenz/data/dl/dt_skattisch.CSV"

skat_dt_table_data_frame = pd.read_csv(skat_dt_table_data_path, header=None)

skat_dt_table_data_frame.columns = ["IDTable", "Name", "Number", "PlayerID1", "PlayerID2", "PlayerID3", "PlayerID4",
                                    "Player1", "Player2", "Player3", "Player4", "Date", "IDVServer", "Series"]

skat_dt_table_data_frame

,IDTable,Name,Number,PlayerID1,PlayerID2,PlayerID3,PlayerID4,Player1,Player2,Player3,Player4,Date,IDVServer,Series
0,6xNW5P4VROx3Gx,T17,10,185046,203230,333351,0,ULF2008,MERLIN4,GOLFPASCHA,NaN,1609498960,54,32643
1,6xNW5P4VROx34x,T21,31,410954,366609,430393,0,TANNE6,BASTIMASTERKIEL,SFRM14,NaN,1609498960,54,32643
2,6xNW5P4VROx3Px,T49,39,387619,249360,393141,0,WAIERER51,99 BERND,.HACKI-BSC.,NaN,1609498960,54,32643
3,6xNW5P4VROx3Xx,T3,1,312865,422733,111307,0,KATZENWEDEL,OSKAR68,LENKA80,NaN,1609498961,54,32643
4,6xNW5P4VROx3Zx,T24,16,301028,180533,445087,0,SCHLAUBISCHLUMPF,MAXOPA,SCHADO,NaN,1609498961,54,32643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10483,6xIE20NDA3xIHDx,T1,11,404838,280391,471436,0,DEMED,ROJORN,REDSHARK59,NaN,1685388669,54,37217
10484,6xIE20NDA3xIH5x,T5,9,467773,214914,405698,0,DAREDEVIL1963,RICOLA 80,ATENSER-JUNG,NaN,1685388673,54,37217
10485,6xIE20NDA3xIHEx,T4,6,442698,412097,348011,0,MAJORB,LIPFI76,CONTER,NaN,1685388674,54,37217
10486,6xIE20NDA3xIHWx,T8,12,474167,475314,366477,0,ADDOLINO,RETROTOMMY,BIKERUWE,NaN,1685388689,54,37217
10487,6xIE20NDA3xIHBx,T15,2,461789,476066,471584,0,BOLGATANGA,PALERIDER322,KREISLIGA2,NaN,1685388692,54,37217

In [8]:
# Sanity Checks

print(skat_dt_table_data_frame.isna().sum())

IDTable          0
Name             0
Number           0
PlayerID1        0
PlayerID2        0
PlayerID3        0
PlayerID4        0
Player1          0
Player2          0
Player3          0
Player4      10488
Date             0
IDVServer        0
Series           0
dtype: int64

In [9]:
print(skat_dt_table_data_frame["IDTable"].size)

10488

In [10]:
print(skat_dt_table_data_frame["IDTable"].duplicated().any())

False

In [11]:
skat_dt_table_data = skat_dt_table_data_frame

head = skat_dt_table_data.head(n=10)
print(head)

          IDTable Name  Number  PlayerID1  PlayerID2  PlayerID3  PlayerID4  \
0  6xNW5P4VROx3Gx  T17      10     185046     203230     333351          0
1  6xNW5P4VROx34x  T21      31     410954     366609     430393          0
2  6xNW5P4VROx3Px  T49      39     387619     249360     393141          0
3  6xNW5P4VROx3Xx   T3       1     312865     422733     111307          0
4  6xNW5P4VROx3Zx  T24      16     301028     180533     445087          0
5  6xNW5P4VROx3Kx  T10       8     131117     169935     391162          0
6  6xNW5P4VROx3Hx   T2      14     370853     442886     237604          0
7  6xNW5P4VROx3Jx  T55      58     415767     405384     338536          0
8  6xNW5P4VROx3Ax  T41      47     135282     145815     235209          0
9  6xNW5P4VROx9Vx  T70      69     301311     151992     426195          0

            Player1          Player2       Player3  Player4        Date  \
0           ULF2008          MERLIN4    GOLFPASCHA      NaN  1609498960
1            TANNE6  BASTIMASTERKIEL        SFRM14      NaN  1609498960
2         WAIERER51         99 BERND   .HACKI-BSC.      NaN  1609498960
3       KATZENWEDEL          OSKAR68       LENKA80      NaN  1609498961
4  SCHLAUBISCHLUMPF           MAXOPA        SCHADO      NaN  1609498961
5          TANTALOS            SAECO      SCHROEMY      NaN  1609498962
6    SIRHENRYMORGAN           JUMPIN        SWENDY      NaN  1609498964
7               GO4         HEIDIE64  JOGIBAER3007      NaN  1609498964
8            SIRENE       KLEMMTUETE  MITSPIELER50      NaN  1609498964
9        BORABORA81      SAINTPAULIA    LENNY 0417      NaN  1609498964

   IDVServer  Series
0         54   32643
1         54   32643
2         54   32643
3         54   32643
4         54   32643
5         54   32643
6         54   32643
7         54   32643
8         54   32643
9         54   32643

In [12]:
"""The game dataset follows"""

skat_dt_game_data_path = "C:/Users/sasch/Desktop/Uni/Bachelorarbeit/SaschaBenz/data/dl/dt_skattisch_spiel.CSV"

skat_dt_game_data_frame = pd.read_csv(skat_dt_game_data_path, header=None)

skat_dt_game_data_frame.columns = ["GameID", "IDGame", "IDTable", "IDVServer", "StartTime", "EndTime", "PlayerFH",
                                   "PlayerMH", "PlayerBH", "Card1", "Card2", "Card3", "Card4", "Card5", "Card6",
                                   "Card7", "Card8", "Card9", "Card10", "Card11", "Card12", "Card13", "Card14",
                                   "Card15", "Card16", "Card17", "Card18", "Card19", "Card20", "Card21", "Card22",
                                   "Card23", "Card24", "Card25", "Card26", "Card27", "Card28", "Card29", "Card30",
                                   "Card31", "Card32", "CallValueFH", "CallValueMH", "CallValueBH", "PlayerID", "Spiel",
                                   "With", "Without", "Hand", "Schneider", "SchneiderCalled", "Schwarz",
                                   "SchwarzCalled", "Overt", "PointsPlayer", "Won", "Miscall",
                                   "CardPointsPlayer", "AllPassed", "Surrendered", "PlayerPosAtTableFH",
                                   "PlayerPosAtTableMH", "PlayerPosAtTableBH"]

In [13]:
head = skat_dt_game_data_frame.head(n=10)
print(head)

   GameID          IDGame         IDTable  IDVServer   StartTime     EndTime  \
0       1  6xNW5P4VROxCMx  6xNW5P4VROx94x         54  1609498973  1609498984
1       2  6xNW5P4VROxC8x  6xNW5P4VROxCVx         54  1609498977  1609498988
2       3  6xNW5P4VROxCDx  6xNW5P4VROx9Ix         54  1609498966  1609498990
3       4  6xNW5P4VROxCOx  6xNW5P4VROxC9x         54  1609498982  1609498995
4       5  6xNW5P4VROxC4x  6xNW5P4VROx9Wx         54  1609498971  1609499006
5       6  6xNW5P4VROxCPx  6xNW5P4VROx3Px         54  1609498960  1609499009
6       7  6xNW5P4VROxCZx  6xNW5P4VROx3Ax         54  1609498964  1609499020
7       8  6xNW5P4VROxCKx  6xNW5P4VROx97x         54  1609498965  1609499022
8       9  6xNW5P4VROxCHx  6xNW5P4VROx91x         54  1609498967  1609499024
9      10  6xNW5P4VROxCJx  6xNW5P4VROx9Dx         54  1609498970  1609499025

   PlayerFH  PlayerMH  PlayerBH  Card1  ...  Overt  PointsPlayer  Won  \
0    296394    150079    415723     26  ...      0             0    0
1    141864    432194    427799      6  ...      0             0    0
2    435785    211078    300814     29  ...      0           170    1
3    422415    299034    397510     27  ...      0             0    0
4    308501    249720     42628     22  ...      0           146    1
5    249360    393141    387619      1  ...      0            72    1
6    145815    235209    135282      6  ...      0            80    1
7     90586    279697    238559      4  ...      0           122    1
8    360992    254202    101171     17  ...      1            96    1
9     61826    160120    317632      2  ...      0           122    1

   Miscall  CardPointsPlayer  AllPassed  Surrendered  PlayerPosAtTableFH  \
0        0                 0          1            0                   1
1        0                 0          1            0                   1
2        0               120          0            3                   1
3        0                 0          1            0                   1
4        0               120          0            3                   1
5        0                71          0            2                   1
6        0                70          0            0                   1
7        0                77          0            3                   1
8        0                 0          0            3                   1
9        0                70          0            3                   1

   PlayerPosAtTableMH  PlayerPosAtTableBH
0                   2                   0
1                   2                   0
2                   2                   0
3                   2                   0
4                   2                   0
5                   2                   0
6                   2                   0
7                   2                   0
8                   2                   0
9                   2                   0

[10 rows x 63 columns]

In [14]:
skat_dt_game_data_frame[["CallValueFH", "CallValueMH", "CallValueBH", "PlayerID", "Spiel",
                         "With", "Without", "Hand", "Schneider", "SchneiderCalled", "Schwarz",
                         "SchwarzCalled", "Overt", "PointsPlayer", "Won", "Miscall",
                         "CardPointsPlayer", "AllPassed", "Surrendered"]].describe()

,CallValueFH,CallValueMH,CallValueBH,PlayerID,Spiel,With,Without,Hand,Schneider,SchneiderCalled,Schwarz,SchwarzCalled,Overt,PointsPlayer,Won,Miscall,CardPointsPlayer,AllPassed,Surrendered
count,360945.000000,360945.000000,360945.000000,360945.00000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000
mean,10.340659,10.349386,10.312444,292437.12941,15.236690,0.925299,0.627073,0.056859,0.269379,0.028835,0.043095,0.027705,0.027694,61.369001,0.799028,0.002036,69.657751,0.050395,0.990442
std,11.666545,11.664467,11.659925,145569.51070,8.761968,1.130585,0.983856,0.231573,0.443638,0.167344,0.203072,0.164127,0.164095,83.083890,0.400728,0.045080,29.495155,0.218760,1.363921
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-578.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,181538.00000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.000000,1.000000,0.000000,61.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,338536.00000,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,83.000000,1.000000,0.000000,76.000000,0.000000,0.000000
75%,18.000000,18.000000,18.000000,418488.00000,24.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,98.000000,1.000000,0.000000,89.000000,0.000000,3.000000
max,120.000000,120.000000,120.000000,476431.00000,59.000000,10.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,314.000000,1.000000,1.000000,120.000000,1.000000,3.000000

In [15]:
skat_dt_game_data_frame[["CallValueFH", "CallValueMH", "CallValueBH", "PlayerPosAtTableFH", "PlayerPosAtTableMH",
                         "PlayerPosAtTableBH"]].describe()

,CallValueFH,CallValueMH,CallValueBH,PlayerPosAtTableFH,PlayerPosAtTableMH,PlayerPosAtTableBH
count,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000,360945.000000
mean,10.340659,10.349386,10.312444,1.000061,1.000053,0.999886
std,11.666545,11.664467,11.659925,0.816464,0.816533,0.816496
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,18.000000,18.000000,18.000000,2.000000,2.000000,2.000000
max,120.000000,120.000000,120.000000,2.000000,2.000000,2.000000

In [16]:
print(skat_dt_game_data_frame.isna().sum().sum())

0

In [17]:
print(skat_dt_game_data_frame["GameID"].size)

360945

In [18]:
print(skat_dt_game_data_frame["GameID"].duplicated().any())

False

In [19]:
print(skat_dt_game_data_frame["IDGame"].duplicated().any())

False

In [20]:
skat_dt_game_data_frame["Won"].value_counts(normalize=True)

1    0.799028
0    0.200972
Name: Won, dtype: float64

In [21]:
skat_dt_game_data_frame["Schneider"].value_counts(normalize=True)

0    0.730621
1    0.269379
Name: Schneider, dtype: float64

In [22]:
skat_dt_game_data_frame["Schwarz"].value_counts(normalize=True)

0    0.956905
1    0.043095
Name: Schwarz, dtype: float64

In [23]:
skat_dt_game_data_frame["Spiel"].value_counts()

24    98571
12    74030
11    59394
10    49431
9     39898
0     18190
23    11081
46     8904
59      990
35      456
Name: Spiel, dtype: int64

In [24]:
skat_dt_game_data_frame["AllPassed"].value_counts(normalize=True)

0    0.949605
1    0.050395
Name: AllPassed, dtype: float64

In [25]:
skat_dt_game_data_frame["Miscall"].value_counts(normalize=True)

0    0.997964
1    0.002036
Name: Miscall, dtype: float64

In [26]:
skat_dt_game_data_frame["Surrendered"].value_counts(normalize=True)

0    0.644530
3    0.290432
2    0.054108
1    0.010930
Name: Surrendered, dtype: float64

In [27]:
skat_dt_game_data_frame["Miscall"].value_counts(normalize=True)

0    0.997964
1    0.002036
Name: Miscall, dtype: float64

In [28]:
# TODO: convert data to following encoding:
# ♦, ♥, ♠, ♣, {7, 8, 9, Q, K, 10, A}, J/T
skat_dt_game_data = skat_dt_game_data_frame

#print(head)

# create train and test sets
# skat_train, skat_test = train_test_split(skat_data, test_size=0.2, random_state=0)

# If data set is unsorted and randomly distributed
# train_data = skat_data[:n*0.8]
# test_data = skat_data[n*0.2:]