In [50]:
import pandas as pd
import random
from sklearn.model_selection import train_test_split

In [51]:
"""The dataset of the sequence the cards (cs) were played follows"""
skat_wm_cs_data_path = "C:/Users/sasch/Desktop/Uni/Bachelorarbeit/SaschaBenz/data/dl/wm_skattisch_kf.CSV"

skat_wm_cs_data_frame = pd.read_csv(skat_wm_cs_data_path, header=None)

# TODO: convert data to following encoding:
# ♦, ♥, ♠, ♣, {7, 8, 9, Q, K, 10, A}, J/T
skat_wm_cs_data = skat_wm_cs_data_frame

skat_wm_cs_data.columns = ["GameID", "Sd1", "Sd2", "KNr0", "KNr1", "KNr2", "KNr3", "KNr4", "KNr5", "KNr6", "KNr7",
                           "KNr8", "KNr9", "KNr10", "KNr11", "KNr12", "KNr13", "KNr14", "KNr15", "KNr16", "KNr17",
                           "KNr18", "KNr19", "KNr20", "KNr21", "KNr22", "KNr23", "KNr24", "KNr25", "KNr26", "KNr27",
                           "KNr28", "KNr29", "KNr30", "KNr31", "SurrenderedAt"]

In [52]:
# Sanity Checks

print(skat_wm_cs_data_frame.isna().sum().sum())

0

In [53]:
print(skat_wm_cs_data_frame["GameID"].size)

376344

In [54]:
print(skat_wm_cs_data_frame["GameID"].duplicated().any())

False

In [55]:
skat_wm_table_data = skat_wm_cs_data_frame

head = skat_wm_cs_data.head(n=10)
print(head)

   GameID  Sd1  Sd2  KNr0  KNr1  KNr2  KNr3  KNr4  KNr5  KNr6  ...  KNr23  \
0       1   12   31    21     7    13    11    18    15     9  ...     26
1       2   31   30     3     7     5     0     6    21     4  ...     22
2       3    3   13    11    18    28    30     9    19    10  ...      2
3       4   10   17    24     1    19     3     8    26     0  ...     12
4       5   10   13    14    12    25     2    28    17    16  ...      9
5       6   20   28     1     4     2    11    13     0     3  ...      6
6       7    9   13    16    18    20     9     4    23     7  ...      6
7       8   28   17    22    19    29     1    28    23    17  ...     10
8       9   18   20     6    11    10    29     9     8     7  ...     16
9      11    6   16     0    26     9     3    11     2    30  ...     18

   KNr24  KNr25  KNr26  KNr27  KNr28  KNr29  KNr30  KNr31  SurrenderedAt
0      2     20      1      4     24      0     27     31             -1
1     18     29     26      2     25     20     31     30             -1
2     24     17     22      4     25     27     16     14             -1
3     27     16     20      6     17     15      5     25             -1
4     27     29     22     21     11     26     19      5             -1
5     19     20     28     17     31     25     22     16             -1
6     19     24     27     15     21     10     14     11             -1
7     11     16     15      8     30     25     18     20             -1
8     13     14     12     24     23     20     19     21             -1
9     29     23     22      6     28     25     19     16             -1

[10 rows x 36 columns]

In [56]:
"""The table dataset follows"""
skat_wm_table_data_path = "C:/Users/sasch/Desktop/Uni/Bachelorarbeit/SaschaBenz/data/dl/wm_skattisch.CSV"

skat_wm_table_data_frame = pd.read_csv(skat_wm_table_data_path, header=None)

skat_wm_table_data_frame.columns = ["IDTable", "Name", "Number", "PlayerID1", "PlayerID2", "PlayerID3", "PlayerID4",
                                    "Player1", "Player2", "Player3", "Player4", "Date", "IDVServer", "Series"]

skat_wm_table_data_frame

,IDTable,Name,Number,PlayerID1,PlayerID2,PlayerID3,PlayerID4,Player1,Player2,Player3,Player4,Date,IDVServer,Series
0,799a2b2e-ae0f-11da-b3fb-8df7c9751e06,2,1,8687,8628,6449,0,FRED42,MIMO46,AHAB,NaN,1141759244,4,4.0
1,7245a47d-ae0f-11da-b3fb-8df7c9751e06,8,6,25444,32580,39208,0,VERFUERTH KLAUS,DER PATE 39,STOERTEBECKER,NaN,1141759232,4,4.0
2,ffc47bc5-ae0f-11da-b3fb-8df7c9751e06,29,26,59765,49816,37776,0,LUSCHENKING,T.K.,BONNIE PARKER,NaN,1141759469,4,4.0
3,7afc2c30-ae0f-11da-b3fb-8df7c9751e06,34,33,25365,37026,25346,0,PATER,FANTASIO17,KRUEMEL96,NaN,1141759247,4,4.0
4,7cdc0fc3-ae0f-11da-b3fb-8df7c9751e06,33,31,39775,42482,8453,0,HARRYHIRSCH,DIKO98,DOKTORBIER,NaN,1141759250,4,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11919,6x7S67QWV3xRF,T11,3,237339,239742,8662,0,TOTTI 48,ELACHEN,HUGO 1005,NaN,1490724005,4,24242.0
11920,6x7S67QWV3xRO,T8,6,37068,240390,279741,0,WOLLE67,SCHACHSPIELER50,POWERPAUL1,NaN,1490724033,4,24242.0
11921,6x7S67QWV3xRD,T2,13,300814,70362,325948,0,SKAT AMATEUR,ELBE,EDUARD DER ZWEITE,NaN,1490724023,4,24242.0
11922,6x7S67QWV3xRK,T5,11,370619,172135,155110,0,PIKDAME1900,SCHROCKI5,MONSCHI1965,NaN,1490724064,4,24242.0
11923,6x7S67QWV3x63V,T2,13,300814,70362,325948,0,SKAT AMATEUR,ELBE,EDUARD DER ZWEITE,NaN,1490726374,4,24242.0

In [57]:
# Sanity Checks

print(skat_wm_table_data_frame.isna().sum())

IDTable          0
Name             0
Number           0
PlayerID1        0
PlayerID2        0
PlayerID3        0
PlayerID4        0
Player1          0
Player2          0
Player3          0
Player4      11924
Date             0
IDVServer        0
Series           3
dtype: int64

In [58]:
print(skat_wm_table_data_frame["IDTable"].size)

11924

In [59]:
print(skat_wm_table_data_frame["IDTable"].duplicated().any())

False

In [60]:
skat_wm_table_data = skat_wm_table_data_frame

head = skat_wm_table_data.head(n=10)
print(head)

                                IDTable Name  Number  PlayerID1  PlayerID2  \
0  799a2b2e-ae0f-11da-b3fb-8df7c9751e06    2       1       8687       8628
1  7245a47d-ae0f-11da-b3fb-8df7c9751e06    8       6      25444      32580
2  ffc47bc5-ae0f-11da-b3fb-8df7c9751e06   29      26      59765      49816
3  7afc2c30-ae0f-11da-b3fb-8df7c9751e06   34      33      25365      37026
4  7cdc0fc3-ae0f-11da-b3fb-8df7c9751e06   33      31      39775      42482
5  71c3ca4c-ae0f-11da-b3fb-8df7c9751e06   12      15      29758      20755
6  7478d833-ae0f-11da-b3fb-8df7c9751e06   19      18      23585      11691
7  729b3e90-ae0f-11da-b3fb-8df7c9751e06   11       8      22429      24313
8  729990df-ae0f-11da-b3fb-8df7c9751e06   18      16      27957      17169
9  750b2d25-ae0f-11da-b3fb-8df7c9751e06   35      34      24470      55811

   PlayerID3  PlayerID4          Player1      Player2        Player3  Player4  \
0       6449          0           FRED42       MIMO46           AHAB      NaN
1      39208          0  VERFUERTH KLAUS  DER PATE 39  STOERTEBECKER      NaN
2      37776          0      LUSCHENKING         T.K.  BONNIE PARKER      NaN
3      25346          0            PATER   FANTASIO17      KRUEMEL96      NaN
4       8453          0      HARRYHIRSCH       DIKO98     DOKTORBIER      NaN
5      58716          0           MZUNGU        HELAU       SPADEMAN      NaN
6       8664          0           FOXBAT     ANJA1001  STEINRAUSCHER      NaN
7      11070          0          B E I L    MAGGIMANN     DEICHHEINZ      NaN
8      11803          0        ENTENLUTZ    PROFESSOR         SHUFTA      NaN
9      30141          0         SENTASSI       CAPONE      SKATMICHI      NaN

         Date  IDVServer  Series
0  1141759244          4     4.0
1  1141759232          4     4.0
2  1141759469          4     4.0
3  1141759247          4     4.0
4  1141759250          4     4.0
5  1141759231          4     4.0
6  1141759236          4     4.0
7  1141759233          4     4.0
8  1141759233          4     4.0
9  1141759237          4     4.0

In [61]:
"""The game dataset follows"""

skat_wm_game_data_path = "C:/Users/sasch/Desktop/Uni/Bachelorarbeit/SaschaBenz/data/dl/wm_skattisch_spiel.CSV"

skat_wm_game_data_frame = pd.read_csv(skat_wm_game_data_path, header=None)

skat_wm_game_data_frame.columns = ["GameID", "IDGame", "IDTable", "IDVServer", "StartTime", "EndTime", "PlayerFH",
                                   "PlayerMH", "PlayerBH", "Card1", "Card2", "Card3", "Card4", "Card5", "Card6",
                                   "Card7", "Card8", "Card9", "Card10", "Card11", "Card12", "Card13", "Card14",
                                   "Card15", "Card16", "Card17", "Card18", "Card19", "Card20", "Card21", "Card22",
                                   "Card23", "Card24", "Card25", "Card26", "Card27", "Card28", "Card29", "Card30",
                                   "Card31", "Card32", "CallValueFH", "CallValueMH", "CallValueBH", "PlayerID", "Spiel",
                                   "With", "Without", "Hand", "Schneider", "SchneiderCalled", "Schwarz",
                                   "SchwarzCalled", "Overt", "PointsPlayer", "Won", "Miscall",
                                   "CardPointsPlayer", "AllPassed", "Surrendered", "PlayerPosAtTableFH",
                                   "PlayerPosAtTableMH", "PlayerPosAtTableBH"]

In [62]:
head = skat_wm_game_data_frame.head(n=10)
print(head)

In [67]:
skat_wm_game_data_frame[["CallValueFH", "CallValueMH", "CallValueBH", "PlayerID", "Spiel",
                         "With", "Without", "Hand", "Schneider", "SchneiderCalled", "Schwarz",
                         "SchwarzCalled", "Overt", "PointsPlayer", "Won", "Miscall",
                         "CardPointsPlayer", "AllPassed", "Surrendered"]].describe()

,CallValueFH,CallValueMH,CallValueBH,PlayerID,Spiel,With,Without,Hand,Schneider,SchneiderCalled,...,Overt,PointsPlayer,Won,Miscall,CardPointsPlayer,AllPassed,Surrendered,PlayerPosAtTableFH,PlayerPosAtTableMH,PlayerPosAtTableBH
count,407259.000000,407259.000000,407259.000000,407259.000000,407259.000000,407259.000000,407259.000000,407259.000000,407259.000000,407259.000000,...,407259.000000,407259.000000,407259.000000,407259.000000,407259.000000,407259.000000,407259.0,407259.000000,407259.000000,407259.000000
mean,9.116813,9.139501,9.131648,104217.098650,14.545628,0.921586,0.582651,0.046823,0.268701,0.026791,...,0.025834,61.314259,0.786414,0.001299,68.495139,0.075907,0.0,1.000037,1.000081,0.999845
std,11.009870,11.015312,11.012890,94446.125838,8.866425,1.133817,0.938203,0.211259,0.443285,0.161473,...,0.158639,79.583084,0.409839,0.036017,31.010530,0.264850,0.0,0.816457,0.816544,0.816514
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-530.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,25552.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,70.000000,1.000000,0.000000,60.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,73002.000000,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,80.000000,1.000000,0.000000,76.000000,0.000000,0.0,1.000000,1.000000,1.000000
75%,18.000000,18.000000,18.000000,162419.000000,24.000000,2.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,98.000000,1.000000,0.000000,89.000000,0.000000,0.0,2.000000,2.000000,2.000000
max,96.000000,120.000000,90.000000,394263.000000,59.000000,10.000000,9.000000,1.000000,1.000000,1.000000,...,1.000000,314.000000,1.000000,1.000000,120.000000,1.000000,0.0,2.000000,2.000000,2.000000

In [ ]:
skat_wm_game_data_frame[["CallValueFH", "CallValueMH", "CallValueBH", "PlayerPosAtTableFH", "PlayerPosAtTableMH",
                         "PlayerPosAtTableBH"]].describe()

In [ ]:
print(skat_wm_game_data_frame.isna().sum().sum())

In [ ]:
print(skat_wm_game_data_frame["GameID"].size)

In [ ]:
print(skat_wm_game_data_frame["GameID"].duplicated().any())

In [ ]:
print(skat_wm_game_data_frame["IDGame"].duplicated().any())

In [ ]:
skat_wm_game_data_frame["Won"].value_counts(normalize=True)

In [ ]:
skat_wm_game_data_frame["Schneider"].value_counts(normalize=True)

In [ ]:
skat_wm_game_data_frame["Schwarz"].value_counts(normalize=True)

In [ ]:
skat_wm_game_data_frame["Spiel"].value_counts()

In [ ]:
skat_wm_game_data_frame["AllPassed"].value_counts(normalize=True)

In [ ]:
skat_wm_game_data_frame["Miscall"].value_counts(normalize=True)

In [ ]:
skat_wm_game_data_frame["Surrendered"].value_counts(normalize=True)

In [ ]:
skat_wm_game_data_frame["Miscall"].value_counts(normalize=True)